# Node 패키지
node_modules/

# TypeScript 캐시
*.tsbuildinfo

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 변수 파일 (보안)
.env
.env.*

# macOS 관련
.DS_Store

# Windows 관련
Thumbs.db

# 에디터 관련
.vscode/
.idea/

# Storybook 관련 (나중에 추가될 수 있음)
storybook-static/